
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
<title>HeardlEsp - Heardle con canciones clásicas en español</title>
<meta name="description" content="Adivina la canción con solo su intro en el menor número de intentos">
<meta itemprop="name" content="HeardlEsp - Heardle con canciones clásicas en español">
<meta itemprop="description" content="Adivina la canción con solo su intro en el menor número de intentos">
<meta itemprop="image" content="https://cdn.glitch.global/0170743c-d7f2-452d-be08-17af2cd9cc8b/apple-touch-icon.png?v=1648416618376">
<meta property="og:url" content="https://twice-heardle.glitch.me/">
<meta property="og:type" content="website">
<meta property="og:title" content="HeardlEsp - Heardle con canciones clásicas en español">
<meta property="og:description" content="Adivina la canción con solo su intro en el menor número de intentos">
<meta property="og:image" content="https://cdn.glitch.global/0170743c-d7f2-452d-be08-17af2cd9cc8b/apple-touch-icon.png?v=1648416618376">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="HeardlEsp - Heardle con canciones clásicas en español">
<meta name="twitter:description" content="Adivina la canción con solo su intro en el menor número de intentos">
<meta name="twitter:image" content="https://cdn.glitch.global/0170743c-d7f2-452d-be08-17af2cd9cc8b/apple-touch-icon.png?v=1648416618376">

<!-- Global site tag (gtag.js) - Google Analytics -->
<!--<script async src="https://www.googletagmanager.com/gtag/js?id=G-1V1Y0MSQ7V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1V1Y0MSQ7V');
</script>-->
  
	<link rel="icon" type="image/png" href="https://cdn.glitch.global/0170743c-d7f2-452d-be08-17af2cd9cc8b/apple-touch-icon.png?v=1648416618376">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.global/0170743c-d7f2-452d-be08-17af2cd9cc8b/favicon-32x32.png?v=1648416619457">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.global/0170743c-d7f2-452d-be08-17af2cd9cc8b/favicon-16x16.png?v=1648416619457">
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.global/0170743c-d7f2-452d-be08-17af2cd9cc8b/apple-touch-icon.png?v=1648416618376">
  <link rel="shortcut icon" href="https://cdn.glitch.global/0170743c-d7f2-452d-be08-17af2cd9cc8b/apple-touch-icon.png?v=1648416618376">
  <link rel="manifest" href="/site.webmanifest">
	<link rel="stylesheet" href="/global.css">
	<link rel="stylesheet" href="/bundle.css">

	<script defer src="/main.js"></script>
</head>

<body>
</body>
</html>